<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANSWERS | FeedMe</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/viewans.css')}}">
</head>

<body>
     <table width="100%" border=1 cellspacing="0">
        <h3 style="width: 100%; text-align: center;">
            {{x.title}} | Responses
        </h3>
        <tr>
            <th></th>
            <th>Date</th>
            <th>Name</th>
            <th>Email</th>
            {% if x.question1 == None %}
            {% else %}
            <th>{{x.question1}}</th>
            {% endif %}

            {% if x.question2 == None %}
            {% else %}
            <th>{{x.question2}}</th>
            {% endif %}

            {% if x.question3 == None %}
            {% else %}
            <th>{{x.question3}}</th>
            {% endif %}

            {% if x.question4 == None %}
            {% else %}
            <th>{{x.question4}}</th>
            {% endif %}

            {% if x.question5 == None %}
            {% else %}
            <th>{{x.question5}}</th>
            {% endif %}

            {% if x.question6 == None %}
            {% else %}
            <th>{{x.question6}}</th>
            {% endif %}

            {% if x.question7 == None %}
            {% else %}
            <th>{{x.question7}}</th>
            {% endif %}

            {% if x.question8 == None %}
            {% else %}
            <th>{{x.question8}}</th>
            {% endif %}

            {% if x.question9 == None %}
            {% else %}
            <th>{{x.question9}}</th>
            {% endif %}

            {% if x.question10 == None %}
            {% else %}
            <th>{{x.question10}}</th>
            {% endif %}
        </tr>

    {% set y = 0 %}

        {% for j in i %}
           {% set y = y + 1 %}
        <tr>
            <td>{{y}}</td>
            <td>{{j.date}}</td>
            <td>{{j.name}}</td>
            <td>{{j.email}}</td>
            {% if j.answer1 == None %}
            {% else %}
            <td>{{j.answer1}}</td>
            {% endif %}

            {% if j.answer2 == None %}
            {% else %}
            <td>{{j.answer2}}</td>
            {% endif %}

            {% if j.answer3 == None %}
            {% else %}
            <td>{{j.answer3}}</td>
            {% endif %}

            {% if j.answer4 == None %}
            {% else %}
            <td>{{j.answer4}}</td>
            {% endif %}

            {% if j.answer5 == None %}
            {% else %}
            <td>{{j.answer5}}</td>
            {% endif %}

            {% if j.answer6 == None %}
            {% else %}
            <td>{{j.answer6}}</td>
            {% endif %}

            {% if j.answer7 == None %}
            {% else %}
            <td>{{j.answer7}}</td>
            {% endif %}

            {% if j.answer8 == None %}
            {% else %}
            <td>{{j.answer8}}</td>
            {% endif %}

            {% if j.answer9 == None %}
            {% else %}
            <td>{{j.answer9}}</td>
            {% endif %}

            {% if j.answer10 == None %}
            {% else %}
            <td>{{j.answer10}}</td>
            {% endif %}
        </tr>
        {% endfor %}
     </table>
</body>
</html>